<div class="main-container">
  {{#if fart}}
    <img src="{{assets.fartImage}}" class="fart" style="top: {{fart.top}}px; left: {{fart.left}}px;" />
    <audio src="{{assets.fartSound}}" autoplay></audio>
  {{/if}}
</div>
